<h2>登録済み作品一覧</h2>
<table>
<thead>
<tr>
<th>作品画像</th>
<th>タイトル名</th>
<th>作品紹介</th>
<th>登録日</th>
</tr>


</thead>
<tbody>

<% @displays. each do |display| %>

<tr>
<td> <%=  image_tag display.image ,size: "270x370" if display.image.present? %><!--この文がdbから写真画像を表示させている --></td>

<td><%= link_to "#{display.display_name}", {controller: 'displays', action: 'show', id: display.id} %> </td>
<td> <%= display.introduction%> </td>



<!--この文がdbから写真画像を表示させている -->

<td> <%= display.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
</tr>

<% end %>
</tbody>

