<h2>登録済み作品一覧</h2>
<table>
<thead>
<tr>
<th>作品画像</th>
<th>タイトル名</th>
<th>作品紹介</th>
<th>登録日</th>
</tr>


</thead>
<tbody>



<tr>
<td>
<% if @post.image.attached? %>
 <%= image_tag @display.image %>
<% end %>

<!--この文がdbから写真画像を表示させている -->

<td> <%= display.created_at.to_s(:datetime_jp) %></td>
<tr>


</tbody>

<% end %>