<h3>作品登録</h3>

<%= form_with model: @display, local: true  do |f| %>
<table>
<tr>
<div class="field">
<th><%=f.label :image,"作品画像"%></th>
<td><%=f.file_field :image,placeholder:"作品を添付" %></td>
</div>
</tr>
</table>

<div>
<ul>
<li><%=f.submit"登録完了"%></li>
</ul>
</div>


<%end%>
